<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create form</title>
</head>
<body>
<div>
    <form th:action="@{/products/create}" method="post" th:object="${product}">
        <input type="text" placeholder="Name..." th:field="*{name}">
        <br>
        <input type="text" placeholder="Detail..." th:field="*{detail}">
        <br>
        <input type="number" placeholder="Price..." th:field="*{price}">
        <br>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>