<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form th:action="@{/home/calculator}" method="get">
    <h1> Calculator</h1>
    <input type="number" name="number1" placeholder="number1...">
    <select name="option">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" name="number2" placeholder="number2...">
    <button type="submit">Calculator</button>
</form>
</body>
</html>